.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.track {
  display:flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;

}
.track p {
  margin-bottom: 0;
}
.track_append {
  display:flex;
  align-items: center;
  margin-left:10px
}
.track_append p {
  margin-left:10px;
}
.tracks {
  margin-right: 10px;
}
.search_main{
  background: #003F62;
  color:white;
  height: 100px;
}
.search_container {
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
}
.search-input {
  width:438px;
  height: 56px;
}
.signing p {
  margin:0;
 
}
.frame-1{
  color:white;
  align-items: center;
  justify-content: center;
}
.frame-1 p {
  align-items: center;
  width:218px;
  height: 70px;
  justify-content: center;
  margin:0;
  display:flex;
}
.main-frame {
  padding: 0px;
  height: 70px;
}

.container-banner .alice-carousel__dots {
  position: absolute;
  top: 250px;
  left: 300px;
}
.caroContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.caroContainer img {
  height: 350px;
}
.caroCard img {
  height: 100px;
}
.caroCard {
  display:flex;
}
.cardSlider {
  display:flex;
  width:400px;
}
.background_footer {
  /* background: url(images/SaleLaptop.png); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width:100%;

}
.background-middle {
  padding: 50px;
  text-align: center;
  margin:10px; 
}
.rCard img {
  height: 230px;
  align-items: center;
}
.mainCards {
  justify-content: center;
}
.twocard img {
width:318px;
}
.signing a {
  text-decoration: none;
  color:white;
}
.signing {
  position: relative;
}
.wish {
  width:200px;
  height: 200px;
  position: absolute;
  top:50px;
  z-index: 99;
  background-color: white;
  color:red;
}
.form-group {
  text-align: start;
  margin:20px;
  width:300px;

}
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  text-decoration: none;
  color:#563d7c;
}
/* .star:active {
background-color: red;
} */